.antd-report-table {
    flex-grow: 1;
    overflow: auto;
    .ant-table-tbody > tr > td {
        padding: 2px 16px 2px 16px !important;
    };
    .ant-table-thead > tr > th {
        padding: 8px 16px 8px 16px !important;
    };
}