.history_table thead tr th{
    font-size: 1.56em;
    color: #FFDA6C;
    font-weight: 500;
    /* width: 25%; */
}
.history_table tbody tr td{
    /* width: 25%; */
    text-align: center;
    color: white;
    font-size: 1.56em
}
.no_data_found{
    color: #06d6fa;
    padding: 2.3rem 0 ;
    font-size: 1.875em;
    display: flex;
    justify-content: center;
    align-items: center;
}