.upload-container {
    width: 102px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #fff;
    border: 1px dashed #fff;
    border-radius: 6px;
    position: relative;

    .upload-label {
        font-size: 14px;
        font-weight: 100;
        color: white;
        text-align: center;

        span {
            font-size: 22px;
        }
    }

    input, img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        opacity: 0;
    }

    img {
        opacity: 1;
        pointer-events: none;
    }
}