.change_pswd_header p{
    color: #08317C;
    padding: 2.7rem 1.7rem;
    font-size: 1.75em;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-top: 1rem;
}
.change_pswd_header span{
    margin-top: -15px;
}
.change_pswd_inputs p{
    color: #FED76E;
    font-weight: 700;
    font-size: 1.68em;
    line-height: 55px;
}
.change_pswd_inputs{
    padding: 10px;
    width: 100%;
}
.change_pswd_inputs span{
    font-size: 2.06em;
    font-weight: 100;
    color: #FD0000;
}
.change_pswd_inputs input, .change_pswd_inputs select{
    padding: 15px 10px;
    width: 100%;
    outline: none;
    border: 5px solid #055E75;
    background: #05193F;
    color: white;
    font-size: 1.56em;
}
.chnage_pswd_btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chnage_pswd_btns div{
    padding: 1rem 8rem;
    color: white;
    font-size: 1.56em;
}
.chnage_pswd_ok{
    background-image: linear-gradient(#64F50B,#4EE004,#3FCD03,#25B104,#17A204, #0D9702);
}
.chnage_pswd_exit{
    background-image: linear-gradient(#FD894E,#FB7847,#FB7043,#F95635,#F6442E,#F63227);
}
.not_null_text {
    font-size: 1.68em;
    font-weight: 700;
    color: red;
    /* width: 100%; */
}

@media (orientation: portrait) and (max-width: 576px),
  (orientation: landscape) and (max-height: 576px) {
  /* Styles for both conditions */
  .change_pswd_inputs input {
    font-size: 2em;
    padding: 3px 10px;
    border-width: 2px;
  }
  .change_pswd_inputs p{
    line-height: 29px;
  }
  .chnage_pswd_btns{
    padding-top: 0.75rem;
  }
  .chnage_pswd_btns div{
    padding: 0.5rem 8rem;
  }
}