  /* .login_page {
    background: url("../assets/images/Background.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100%;
  } */
  .login_container{
    background: linear-gradient(#1276e6, #116FDF, #0E66CE, #0F62CA, #0C5BC2, #094FB5, #0B49AD, #0843A5, #053999, #063492 );
    width: 70%;
    height: 87%;
  }
  .login_crown{
    /* height: 6.5vmin; */
    /* top: -11%; */
    transform: translate(-50%, -100%);
    width: 16%;
  }

  .login_crown img {
    width: 100%;
  }
  
  .login_heading {
    /* top: -2.5%;*/
    top: -15%; 
    left: 50%;
    transform: translateX(-70%);
    width: 65%;
    height: 9.5vmin;
    margin: auto;
    position: relative;
  }
  .login_heading::before, .login_heading::after{
    content: "";
    position: absolute;
    /* border-top-left-radius: 1.5vmax ;
    border-bottom-left-radius: 1.3vmax ;
    width: 65%;
    height: 100%;
    border: 4px solid #4F95EF;
    box-shadow:-8px 9px 9px 1px #04287B;
    transform: skewX(30deg);
    background-image: linear-gradient(#073A9A, #072F8A,#07256B, #051D5F, #021344, #03103E, #050E3B); */
  
  }
  .login_heading::after{
    transform: skewX(-20deg);
    box-shadow:8px 10px 9px 1px #04287B;
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 1.5vmax ;
    border-bottom-right-radius: 1.3vmax ;
    right: 0;
  }
  .login_heading img{
    z-index: 100;
    margin: auto;
    /* height: 8vmin; */
    /* height: 35vmin; */
    width: 60%;
  }
  
  .login_form label {
    font-weight: 300;
    font-size: 2.5vmax;
    text-shadow: 1px 1px 3px black;
  }
  /* .login_form input {
  
  } */
  .login_form .login_input {
    box-shadow: 0px 0px 4px 3px #74a7e5;
    background-color: #05113b;
    height: 7vmin;
    /* width: 35%; */
    padding: .3vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vmax;
  }
  .login_input input{
    border-color: #2d4a92;
    background: #05113b;
    font-weight: 400;
    font-size: 1.8vmax;
    outline: none;
    border-radius: .8vmax;
  }
  
  .login_football {
    width: 40%;
    height: 110%;
    left: -20%;
    top: -10%;
  }
  .login_football img {
    height: 100%;
    width: 100%;
  }
    
  .login_model {
    width: 20%;
    height: 110%;
    right: -12.5%;
    top: -10%;
  }
  .login_model img {
    height: 100%;
    width: 100%;
  }
  .login_language {
    background: linear-gradient(#025EBA, #0060B6, #0061B7, #0165BC, #036BC5, #0771CF, #0A77D2);
    box-shadow: 1px 2px 1px 3px #0155b2, 0px 2px 0px 5px #0E4F9B;
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
    width: 52%;
    margin-top: 2.4vw;
    height: 8vmin;
  }
  .remember_pswd{
    margin-top: 2vmax;
    margin-bottom:1.0vmax;
  }
  .remember_pswd input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
  }
  .remember_pswd label {
    position: relative;
    display: block;
    padding-left: 5vw;
    cursor: pointer;
    font-size: 1.94vmax;
    font-weight: 700;
    color: #b5d0fb;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
    font-family: Arial, Helvetica, sans-serif;
  }
  .remember_pswd label:before {
    content: '';
    position: absolute;
    top: 50%;
    /* margin-top: -10px; */
    transform: translateY(-50%);
    left: 0;
    display: block;
    height: 3vw;
    width: 3.4vw;
    background: linear-gradient(#061D49,#041D4C,#051D59,#092560,#0C2B6F,#0E3E8F,#1F4F94, #0D4FAE, #1055B7,#1158BE);
    border-radius: 3px;
    border: 3px solid #020921;
    box-shadow: 1px 1px 0px 1px #355BBF, 1px 1px 14px 4px #1254c3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FDF511;
  }
  .remember_pswd label:after {
    content: '\2713';
    position: absolute;
    opacity: 0;
  }
  .remember_pswd input:checked + label::before{
    content: '\2713';
  }
  /* .remember_pswd input:checked + label:after{
    opacity: 1;
  } */
  .login_btn{
    width: 25%;
  }
  .login_btn button{
    outline: none;
    border-radius: 15px;
    border: 4px solid black;
    font-weight: bold;
    font-size: 1.8vmax;
    letter-spacing: 1px;
    font-weight: 800;
    width: 100%;
    -webkit-text-stroke: 1px #68CCE8;
    box-shadow: 1px 1px 0px 1px #1E5ACC;
    /* width: 38.7%; */
  }
  .login_highlight{
    position: absolute;
    top: 5px;
    left: 50%;
    background: linear-gradient(to bottom,#0B8CC7,#22BEF3,#3FEFFF,#37E0F8, #2ABFEA );
    box-shadow: 1px 1px 14px 4px #1491be;
    width: 92%;
    transform: translateX(-50%);
    border-radius: 7px;
    height: 38%;
    filter: blur(1.9px);
    -webkit-filter: blur(1.9px);
  }

  .language-text {
    font-size: 2.8em;
  }

  /* @media screen and (orientation: portrait) {
  .login_page {
    height: 100vw;
  }
} */
