.btn_container {
    border: 0.2vw solid #000;
    border-radius: 6px;
    height: 75%;
}

.btn_container button {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: linear-gradient( #0fa9e9, #0576c3, #104190, #093079, #04144c, #041047, #0b2f7b );
    font-size: 2.5vw;
    line-height: 100%;
    color: #fff;
    font-weight: 900;
    box-shadow: 0px 2px 2px #4FBBE3;
}

.btn_container button > * {
    height: 60%;
}